.input__box {
    display: flex;
    width: 100%;
    outline: none;
    padding: 2px 2px;
    gap: 2px;
}

.input {
    width: 100%;
    outline: none;
    height: 20px;
    border: 1px gray solid;
    border-radius: 3px;
    padding: 0 2px;
}

.input__btn {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px gray solid;
    border-radius: 3px;
    cursor: pointer;
}

.input__btn:active {
    background-color: rosybrown;
}