.img-box {
    display: flex;
    max-width: 115px;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    object-fit: contain;
}

.unit-box__pict {
    border: 1px solid #1d1d1d;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    object-fit: contain;
}